venv/
__pycache__/
*.pyc
*.pt
.env
data/
data/raw/
data/processed/
models/artifacts/*.pt
models/artifacts/*.pth
node_modules/
frontend/dist/
.DS_Store
*.log
*.pth
*.onnx
models/ocr/cct-s-v2-global-model/